/* Set background and properties for homepage */
#home {
  background-image: url("../assets/hero-man.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Set opacity to background */
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Better for overlay */
}

#home a {
  color: white;
  text-decoration: none;
}

#home p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
}
